<header id="header">
  

  <a class="home-link" href="/dashboard">
    <img class="logo" src="../../images/icons/icon-512x512.png">
  </a>
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a href="/dashboard">Tour Of Heroes</a>
      </h1>
      <span class="header-nav">
          <a routerLink="/dashboard" routerLinkActive="active"> Dashboard </a>
        <span class="divider">
          |
        </span>
           <a routerLink="/heroes" routerLinkActive="active"> Heroes </a>
      </span>
    </div>
  </div>
  </header>
